@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #afafaf;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #c0c0c0;
  }
}

@layer base {
  body {
    background: var(--background);
    color: var(--foreground);
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(to right,
      rgba(165, 17, 66) 0%,    
      rgba(172, 97, 23) 20%,   
      rgba(172, 97, 23) 80%,   
      rgba(165, 17, 66) 100%   
    );
  }
}